.homePageTitle {
  width: 100%;
  position: fixed;
  background: black;
  text-align: center;
  margin: 0;
}
.homePageDate {
  text-align: center;
}
.homePageInput {
  font-size: 16px;
  margin-top: 100px;
}
.homePageLinks {
  margin-top: 15vh;
  display: flex;
  justify-content: space-evenly;
}
.homePageLinks a{
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: steelblue;
}
.sportTitle {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 40px;
  background: black;
}
.sportTitle h3 {
  margin: 0;
}
.lines {
  display: flex;
  margin-left: 20px; 
  padding-top: 100px
}
.matchup {
  margin: 50px 0 296px 0;
}
.matchupPitcher {
  margin: 50px 0 224px 0;
}
.pitcher {
  font-style: italic;
  margin-left: 20px;
}
.bets {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  border-bottom: 1px black solid;
}
.total {
  margin-bottom: 53px;
}
.edge {
  margin: 20px;
}
.form{
  position: fixed;
  top: 160px;
  left: 700px;
}
.hide {
  display: none;
}
.date {
  margin-bottom: 26px;
}
.minValueBreak {
  margin-bottom: 2px;
}
.topHeader {
  margin-top: 45px; 
}
.midHeader {
  margin-top: 21.5px;
}
.bottomHeader {
  margin-top: 0px;
}
.spread {
  display: flex;
  height: 21px;
  align-items: center;
}
.spread button{
  display: flex;
  height: 16px;
  width: 16px;
  margin: auto 5px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}