.homePageTitle {
  width: 100%;
  position: fixed;
  background: black;
  text-align: center;
  margin: 0;
}
.homePageDate {
  text-align: center;
}
.homePageInput {
  font-size: 16px;
  margin-top: 100px;
}
.homePageLinks {
  margin-top: 15vh;
  display: flex;
  justify-content: space-evenly;
}
.homePageLinks a{
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: steelblue;
}
.sportTitle {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 40px;
  background: black;
}
.sportTitle h3 {
  margin: 0;
}
.lines {
  display: flex;
  margin-left: 20px; 
  padding-top: 100px
}
.matchup {
  margin: 20px 0 310px 0;
}
.bets {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  border-bottom: 1px black solid;
}
.total {
  margin-bottom: 53px;
}
.edge {
  margin: 20px;
}
.form{
  position: fixed;
  top: 160px;
  left: 700px;
}
.hide {
  display: none;
}