/* Home Page */

.homePageBanner {
  top: 0;
  width: 100%;
  position: fixed;
  background: black;
  text-align: center;
  padding: 10px;
}
.homePageTitle {
  margin: 0;
}
.homePageDate {
  text-align: center;
  font-size: 18px;
  margin: 0;
}
.bannerButton {
  display: block;
  margin: 10px auto 0 auto;
  font-size: 14px;
}
.homePageLinks {
  margin-top: 35vh;
  display: flex;
  justify-content: space-evenly;
}
.homePageLinks a{
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: steelblue;
}

/*Sports pages  */

.lines {
  display: flex;
  margin-left: 10px; 
  padding-top: 130px
}

/* Game Cards */

.pitcher {
  font-style: italic;
  margin-left: 20px;
}
.bets {
  display: flex;
  /* flex-direction: column; */
  margin-left: 30px;
  margin-bottom: 20px;
  border: 10px solid white;
  padding: 20px;
}
.teams {
  width: 180px;
  border-right: 5px solid white;
  margin-right: 20px;
}
.betText {
  margin-top: 60px;
  margin-bottom: 90px;
}
.currentLines {
  margin-left: 50px;
}
.midpoints {
  margin-left: 50px;
}
.firstHalf {
  width: 50px;
  margin-left: 10px;
}

/* Midpoint Lines */

.midpointResults {
  margin-left: 50px;
}
.midpointResult {
  line-height: 1;
}
.home {
  margin-bottom: 30px;
}

/* Edge */

.edge {
  margin: 20px;
}
.form{
  position: fixed;
  top: 160px;
  left: 1000px;
}